attrs==23.2.0
bayesian-optimization==1.5.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cma==3.4.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
docutils==0.21.2
dragonfly-core==1.47.36
dragonfly-display==0.2.0
dragonfly-energy==1.27.2
dragonfly-radiance==0.3.106
dragonfly-schema==1.11.4
dragonfly-uwg==0.5.534
exceptiongroup==1.2.2
fonttools==4.53.1
geopandas==1.0.1
https://github.com/Eliewiii/View_Factor_Computation_With_Radiance/archive/refs/tags/0.1.zip
honeybee-core==1.58.32
honeybee-display==0.3.10
honeybee-energy==1.107.4
honeybee-energy-standards==2.3.0
honeybee-radiance==1.66.90
honeybee-radiance-command==1.22.4
honeybee-radiance-folder==2.11.15
honeybee-radiance-postprocess==0.4.412
honeybee-schema==1.58.1
honeybee-standards==2.0.6
idna==3.7
iniconfig==2.0.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
ladybug-comfort==0.18.36
ladybug-core==0.43.1
ladybug-display==0.11.2
ladybug-geometry==1.32.7
ladybug-geometry-polyskel==1.6.6
ladybug-radiance==0.2.10
lbt-dragonfly==0.11.244
lbt-honeybee==0.8.323
lbt-ladybug==0.27.95
lbt-recipes==0.26.9
llvmlite==0.43.0
lockfile==0.12.2
luigi==3.3.0
#matplotlib==3.9.1
nevergrad==1.0.3
numba==0.60.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pollination-handlers==0.10.7
pooch==1.8.2
pydantic==1.10.17
pydantic-openapi-helper==0.2.11
pyogrio==0.9.0
pyparsing==3.1.2
pyproj==3.6.1
pytest==8.2.2
python-daemon==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
pyviewfactor==0.0.16
pyvista==0.44.0
PyYAML==6.0.1
queenbee==1.28.0
queenbee-local==0.6.3
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.0
scikit-learn==1.5.1
scipy==1.14.0
scooby==0.10.0
shapely==2.0.5
six==1.16.0
tenacity==8.5.0
threadpoolctl==3.5.0
tomli==2.0.1
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uwg==5.8.13
vtk==9.3.1
